---
import { toRem } from '@lib/helpers.js';
import BlockText from '@blocks/BlockText.astro';
import BlockDivider from '@blocks/BlockDivider.astro';
import BlockImage from '@blocks/BlockImage.astro';
import BlockTitle from '@blocks/BlockTitle.astro';
import BlockSlider from '@blocks/BlockSlider.astro';
import BlockButton from '@blocks/BlockButton.astro';
import BlockAccordion from '@blocks/BlockAccordion.astro';
import BlockQuoteSlider from '@blocks/BlockQuoteSlider.astro';
import BlockLine from '@blocks/BlockLine.astro';
import BlockVector from '@blocks/BlockVector.astro';
import BlockVideo from '@blocks/BlockVideo.astro';
import BlockIconList from '@blocks/BlockIconList.astro';
import BlockMenu from '@blocks/BlockMenu.astro';
import BlockColumns from '@blocks/BlockColumns.astro';
import BlockGrid from '@blocks/BlockGrid.astro';
import BlockCode from '@blocks/BlockCode.astro';
import BlockGallery from '@blocks/BlockGallery.astro';
const { blocks, global, span, backgroundContainer } = Astro.props;
---

{
	blocks ? (
		blocks.map((block) => {
			switch (block.type) {
				case 'grid':
					return <BlockGrid grid={block} global={global} span={span} />;
				case 'columns':
					return (
						<BlockColumns
							columns={block.content.columns}
							global={global}
							span={span}
						/>
					);
				case 'code':
					return (
						<BlockCode
							code={block.content.code}
							metadata={block.content.metadata}
						/>
					);
				case 'video':
					return (
						<BlockVideo
							source={block.content.source}
							url={block.content.url}
							file={block.content.file}
							options={block.content.options}
							ratioMobile={block.content.ratiomobile}
							ratioDesktop={block.content.ratio}
							thumbnail={block.content.thumbnail}
							toggle={block.content.toggle}
							Level={block.content.level}
							text={block.content.caption}
							font={block.content.textfont}
							textcolor={block.content.textcolor}
							size={block.content.textsize}
							metadata={block.content.metadata}
						/>
					);
				case 'vector':
					return (
						<BlockVector
							image={block.content.image}
							widthMobile={block.content.widthmobile}
							widthDesktop={block.content.widthdesktop}
							widthAlign={block.content.widthalign}
							metadata={block.content.metadata}
						/>
					);

				case 'line':
					return (
						<BlockLine
							borderStyle={block.content.borderstyle}
							borderWidth={block.content.borderwidth}
							borderColor={block.content.bordercolor}
							metadata={block.content.metadata}
						/>
					);
				case 'quoteSlider':
					return (
						<BlockQuoteSlider
							items={block.content.acc}
							titleFont={block.content.titlefont}
							titleColor={block.content.titlecolor}
							titleSize={block.content.titlesize}
							textFont={block.content.textfont}
							textColor={block.content.textcolor}
							textSize={block.content.textsize}
							textAlign={block.content.textalign}
							titleAlign={block.content.titlealign}
							controls={block.content.controls}
							color={block.content.color}
							time={block.content.time}
							metadata={block.content.metadata}
						/>
					);
				case 'accordion':
					return (
						<BlockAccordion
							items={block.content.acc}
							Level={block.content.level}
							titleFont={block.content.titlefont}
							titleColor={block.content.titlecolor}
							titleSize={block.content.titlesize}
							textFont={block.content.textfont}
							textColor={block.content.textcolor}
							textSize={block.content.textsize}
							textAlign={block.content.textalign}
							borderWidth={block.content.borderwidth}
							borderColor={block.content.bordercolor}
							metadata={block.content.metadata}
							metadata={block.content.metadata}
						/>
					);
				case 'iconlist':
					return (
						<BlockIconList
							items={block.content.list}
							font={block.content.textfont}
							color={block.content.textcolor}
							size={block.content.textsize}
							align={block.content.textalign}
							iconSize={block.content.iconsize}
							iconGap={block.content.icongap}
							iconListGap={block.content.iconlistgap}
							iconDirection={block.content.icondirection}
							metadata={block.content.metadata}
						/>
					);
				case 'menu':
					return (
						<BlockMenu
							items={block.content.nav}
							font={block.content.textfont}
							color={block.content.textcolor}
							size={block.content.textsize}
							gap={block.content.listgap}
							global={global}
							metadata={block.content.metadata}
						/>
					);
				case 'button':
					return (
						<BlockButton
							link={block.content.linkobject}
							global={global}
							align={block.content.buttonalign}
							metadata={block.content.metadata}
						/>
					);
				case 'title':
					return (
						<BlockTitle
							title={block.content.text}
							Level={block.content.level}
							font={block.content.titlefont}
							color={block.content.titlecolor}
							size={block.content.titlesize}
							align={block.content.titlealign}
							metadata={block.content.metadata}
						/>
					);
				case 'text':
					return (
						<BlockText
							text={block.content.text}
							font={block.content.textfont}
							color={block.content.textcolor}
							size={block.content.textsize}
							align={block.content.textalign}
							headlines={global.headlines}
							metadata={block.content.metadata}
						/>
					);
				case 'image':
					return (
						<BlockImage
							global={global}
							image={block.content.image}
							ratioMobile={block.content.ratiomobile}
							ratioDesktop={block.content.ratio}
							span={span}
							backgroundContainer={backgroundContainer}
							metadata={block.content.metadata}
						/>
					);
				case 'slider':
					return (
						<BlockSlider
							images={block.content.images}
							toggle={block.content.toggle}
							Level={block.content.level}
							text={block.content.caption}
							font={block.content.textfont}
							textcolor={block.content.textcolor}
							size={block.content.textsize}
							align={block.content.textalign}
							ratioMobile={block.content.ratiomobile}
							ratioDesktop={block.content.ratio}
							controls={block.content.controls}
							color={block.content.color}
							time={block.content.time}
							effect={block.content.effect}
							viewMobile={block.content.viewmobile}
							viewDesktop={block.content.viewdesktop}
							viewPaddingMobile={block.content.viewpaddingmobile}
							viewPaddingDesktop={block.content.viewpaddingdesktop}
							span={span}
							global={global}
							backgroundContainer={backgroundContainer}
							metadata={block.content.metadata}
						/>
					);
				case 'gallery':
					return (
						<BlockGallery
							images={block.content.images}
							layoutType={block.content.layouttype}
							viewMobile={block.content.viewmobile}
							viewDesktop={block.content.viewdesktop}
							viewPaddingMobile={block.content.viewpaddingmobile}
							viewPaddingDesktop={block.content.viewpaddingdesktop}
							ratioMobile={block.content.ratiomobile}
							ratioDesktop={block.content.ratio}
							span={span}
							global={global}
							backgroundContainer={backgroundContainer}
							metadata={block.content.metadata}
						/>
					);
				case 'divider':
					return (
						<BlockDivider
							global={global}
							spacingMobileTop={toRem(block.content.spacingmobiletop)}
							spacingMobileBottom={toRem(block.content.spacingmobilebottom)}
							spacingDesktopTop={toRem(block.content.spacingdesktoptop)}
							spacingDesktopBottom={toRem(block.content.spacingdesktopbottom)}
						/>
					);

				default:
					return null;
			}
		})
	) : (
		<section class="container">
			<p>Kein Blöcke gefunden.</p>
		</section>
	)
}
