---
import VectorImage from '@components/VectorImage.astro';

const {
	title,
	text,
	image,
	hovertoggle,
	justify,
	Level,
	titleSize,
	titleAlign,
	textSize,
	textAlign,
	widthMobile,
	widthDesktop,
	widthAlign,
} = Astro.props;
---

<div
	class="card-main-content flex h-full flex-col transition-opacity duration-300"
	class:list={[hovertoggle && 'group-hover:opacity-0']}
>
	{
		title && (
			<Level
				class:list={[
					'card-title',
					`font--${titleSize}`,
					`text--${titleAlign}`,
					justify === 'one' && 'mb-auto',
				]}
				set:html={title}
			/>
		)
	}
	{
		text && (
			<div
				class:list={[
					'card-text',
					'mt-2',
					`font--${textSize}`,
					`text--${textAlign}`,
				]}
				set:html={text}
			/>
		)
	}
	{
		image && (
			<div
				class:list={['card-image', 'w-full', justify === 'two' && 'mt-auto']}
			>
				<VectorImage
					image={image}
					noLink="true"
					widthMobile={widthMobile}
					widthDesktop={widthDesktop}
					widthAlign={widthAlign}
				/>
			</div>
		)
	}
</div>
