---
import VectorImage from '@components/VectorImage.astro';

const {
	title,
	text,
	image,
	hovertoggle,
	hovertext,
	justify,
	Level,
	titleSize,
	titleAlign,
	textSize,
	textAlign,
	widthMobile,
	widthDesktop,
	widthAlign,
} = Astro.props;
---

<div
	class:list={[
		'card-main-content transition-opacity duration-300 h-full flex flex-col',
		hovertoggle && 'group-hover:opacity-0',
	]}
>
	{
		title && (
			<Level
				class:list={[
					'card-title',
					`font--${titleSize}`,
					`text--${titleAlign}`,
					justify === 'one' && 'mb-auto',
				]}
				set:html={title}
			/>
		)
	}
	{
		text && (
			<div
				class:list={[
					'card-text',
					'mt-2',
					`font--${textSize}`,
					`text--${textAlign}`,
				]}
				set:html={text}
			/>
		)
	}
	{
		image && (
			<div
				class:list={['card-image', 'w-full', justify === 'two' && 'mt-auto']}
			>
				<VectorImage
					image={image}
					noLink="true"
					widthMobile={widthMobile}
					widthDesktop={widthDesktop}
					widthAlign={widthAlign}
				/>
			</div>
		)
	}
</div>

<style lang="css">
	.card-main-content {
		/* safari workaround */
		height: -webkit-fill-available;
	}

	.card-title {
		@apply hyphens-auto;
		font-family: var(--titleFont);
	}

	.card-text {
		@apply hyphens-auto;
		font-family: var(--textFont);
	}
</style>
