---
import Hamburger from '@components/Hamburger.astro';
import Navigation from '@components/Navigation.astro';
import { Icon } from 'astro-icon';

const { global } = Astro.props;
const baseSize = 16;

const headerColor = global.headerColor;
const headerBackground = global.headerBackground;
const headerColorActive = global.headerColorActive;
const headerBackgroundActive = global.headerBackgroundActive;

const logoDesktop = global.logoDesktop / baseSize + 'rem';
const logoDesktopActive = global.logoDesktopActive / baseSize + 'rem';
const logoMobile = global.logoMobile / baseSize + 'rem';
const logoMobileActive = global.logoMobileActive / baseSize + 'rem';
const logoAlign = global.logoAlign;
const logoFile = global.logoFile;
---

<header
	class={`bg--${headerBackground} text--${headerColor} fixed z-10 w-full py-4 transition-all duration-300 ease-in-out md:py-8`}
>
	<div class="container flex items-center">
		<div
			id="logo"
			class={`${logoAlign} relative z-20 transition-all duration-300 ease-in-out max-md:py-4 w-80`}
		>
			<a href="/" aria-label="Zurück zur Homepage">
				{
					logoFile.src ? (
						<img
							src={logoFile.src}
							id="logo"
							alt={
								logoFile.alt ? `${logoFile.alt}` : `Logo ${global.siteTitle}`
							}
							class="transition-all duration-300 ease-in-out"
						/>
					) : (
						<Icon
							name="fallback"
							id="fallback"
							alt={`Logo ${global.siteTitle}`}
							class="transition-all duration-300 ease-in-out"
						/>
					)
				}
			</a>
		</div>
		<nav class="ml-auto transition-all duration-300 ease-in-out">
			<Hamburger global={global} />
			<Navigation global={global} />
		</nav>
	</div>
</header>

<script>
	var header = document.querySelector('header');

	window.onscroll = function () {
		if (
			document.body.scrollTop > 80 ||
			document.documentElement.scrollTop > 80
		) {
			header.classList.add('header--active');
		} else {
			header.classList.remove('header--active');
		}
	};
</script>

<style
	lang="css"
	define:vars={{
		headerColorActive,
		headerBackgroundActive,
		logoMobile,
		logoDesktop,
		logoDesktopActive,
		logoMobileActive,
	}}
>
	.header--active {
		@apply py-0 shadow-lg lg:py-4;
		background-color: var(--headerBackgroundActive);
		color: var(--headerColorActive);
	}

	#logo,
	svg#fallback {
		@apply w-[var(--logoMobile)] md:w-[var(--logoDesktop)];
	}

	.header--active #logo,
	.header--active svg#fallback {
		@apply w-[var(--logoMobileActive)] md:w-[var(--logoDesktopActive)];
	}

	#logo.center,
	svg#fallback.center {
		@apply left-1/2 -translate-x-1/2;
	}
</style>
