---
const { data, global } = Astro.props;
const socialMeta = data.meta.social;
---

<title>{data.meta.title}</title>
<meta name="description" content={data.meta.description} />
<meta name="robots" content={data.meta.robots} />
<meta name="canonical" content={data.meta.canonical} />

{
	Object.entries(socialMeta).map(([key, value]) => (
		<meta property={key} content={value.toString()} key={key as string} />
	))
}
