---
const { data, global } = Astro.props;
const { slug } = Astro.params;
const origin = Astro.url.origin;
const currentPath = slug ? slug : '';
const defaultLang = global.defaultLang.code;
const currentLang = data.lang;
const logoAlign = global.logoAlign;
const translations = global.translations;
---

<div
	class={`nav-links--desktop hidden lg:flex lg:bg-transparent top-0 left-0 z-10 min-h-full w-full justify-center text-center opacity-0 transition-opacity delay-100 duration-300 ease-in-out placeholder:pointer-events-none  visible flex-row lg:justify-end lg:opacity-100 ${
		logoAlign === 'center' ? 'lg:hidden' : ''
	}`}
>
	{
		global.navHeader &&
			global.navHeader.map((item) => {
				if (item.type === 'url') {
					return (
						<a
							href={item.href}
							target={`${item.popup === true ? '_blank' : '_self'}`}
							rel={`${item.popup === true ? 'noopener noreferrer' : ''}`}
							class="nav-link max-lg:mb-8 lg:mr-16 lg:last:mr-0 2xl:mr-24"
						>
							{item.title}
						</a>
					);
				}

				if (item.type === 'page') {
					return (
						<a
							href={
								item.hash
									? `${
											translations.length > 0
												? origin + '/' + currentLang
												: ''
									  }/${item.uri}#${item.hash}`
									: `${
										translations.length > 0
												? origin + '/' + currentLang
												: ''
									  }/${item.uri}`
							}
							target={item.popup ? '_blank' : undefined}
							rel={item.popup ? 'noopener' : undefined}
							class={`nav-link max-lg:mb-8 lg:mr-16 2xl:mr-24
								${currentPath === item.uri ? 'active' : ''}
								${translations.length === 0 ? 'last:mr-0' : ''}
							`}
							}
						>
							{item.title}
						</a>
					);
				}
			})
	}
</div>

