---
const { global, length, currentPage, firstUrl, prevUrl, nextUrl } = Astro.props;
const baseSize = 16;
const paginationFont = global.paginationFont;
const size = global.paginationFontSize;
const paginationPadding = global.paginationPadding / baseSize + 'rem';
const paginationMargin = global.paginationMargin / baseSize + 'rem';
const paginationTop = global.paginationTop / baseSize + 'rem';
const paginationBottom = global.paginationBottom / baseSize + 'rem';
const bg = global.paginationBackgroundColor;
const bgHover = global.paginationBackgroundColorHover;
const bgActive = global.paginationBackgroundColorActive;
const color = global.paginationTextColor;
const colorHover = global.paginationTextColorHover;
const colorActive = global.paginationTextColorActive;
const paginationBorderColor = global.paginationBorderColor;
const paginationBorderColorHover = global.paginationBorderColorHover;
const paginationBorderColorActive = global.paginationBorderColorActive;
const paginationBorderWidth = global.paginationBorderWidth / baseSize + 'rem';
const paginationBorderRadius = global.paginationBorderRadius / baseSize + 'rem';
const paginationList = Array.from({ length: `${length}` }, (_, i) => i + 1);
---

<nav aria-label="Section pages" class="pagination pagination-default">
	{
		prevUrl ? (
			<a
				href={prevUrl}
				class={`pagination__link font--${size}
				paginationText--${color} paginagtionBg--${bg} paginationBoder--${paginationBorderColor}
				paginationTextHover--${colorHover} paginationBgHover--${bgHover} paginationBorderHover--${paginationBorderColorHover}
				`}
			>
				<span>&#8592;</span>
			</a>
		) : (
			''
		)
	}

	{
		paginationList.map((num) => (
			<a
				href={`${firstUrl}${num == 1 ? '' : '/' + num}`}
				class={`
				pagination__link font--${size}
				paginationText--${color} paginagtionBg--${bg} paginationBoder--${paginationBorderColor}
				paginationTextHover--${colorHover} paginationBgHover--${bgHover} paginationBorderHover--${paginationBorderColorHover}

				${
					currentPage == num
						? `paginationTextActive--${colorActive} paginationBgActive--${bgActive} paginationBorderActive--${paginationBorderColorActive} active`
						: ''
				}`}
			>
				{num}
			</a>
		))
	}

	{
		!nextUrl ? (
			''
		) : (
			<a
				href={nextUrl}
				class={`pagination__link font--${size}
				paginationText--${color} paginagtionBg--${bg} paginationBoder--${paginationBorderColor}
				paginationTextHover--${colorHover} paginationBgHover--${bgHover} paginationBorderHover--${paginationBorderColorHover}
				`}
			>
				<span>&#8594;</span>
			</a>
		)
	}
</nav>

<style
	lang="css"
	is:global
	define:vars={{
		paginationFont,
		paginationPadding,
		paginationMargin,
		paginationTop,
		paginationBottom,
		paginationBorderRadius,
		paginationBorderWidth,
		paginationBorderColor,
	}}
>
	.pagination {
		@apply mb-[var(--paginationBottom)] mt-[var(--paginationTop)] flex gap-x-[var(--paginationMargin)];
	}

	.pagination__link {
		@apply rounded-[var(--paginationBorderRadius)] border-[length:var(--paginationBorderWidth)] border-[color:var(--borderColor)];
		padding: var(--paginationPadding) calc(var(--paginationPadding) * 2);
		font-family: var(--paginationFont);
	}

	/* bg */
	.paginationText--primary {
		@apply text-primary;
	}

	.paginationText--secondary {
		@apply text-secondary;
	}

	.paginationText--tertiary {
		@apply text-tertiary;
	}

	.paginationText--black {
		@apply text-black;
	}

	.paginationText--white {
		@apply text-white;
	}

	.paginationText--transparent {
		@apply text-transparent;
	}

	.paginationTextHover--primary {
		@apply hover:text-primary;
	}

	.paginationTextHover--secondary {
		@apply hover:text-secondary;
	}

	.paginationTextHover--tertiary {
		@apply hover:text-tertiary;
	}

	.paginationTextHover--black {
		@apply hover:text-black;
	}

	.paginationTextHover--white {
		@apply hover:text-white;
	}

	.paginationTextHover--transparent {
		@apply hover:text-transparent;
	}

	.paginationTextActive--primary {
		@apply text-primary;
	}

	.paginationTextActive--secondary {
		@apply text-secondary;
	}

	.paginationTextActive--tertiary {
		@apply text-tertiary;
	}

	.paginationTextActive--black {
		@apply text-black;
	}

	.paginationTextActive--white {
		@apply text-white;
	}

	.paginationTextActive--transparent {
		@apply text-transparent;
	}

	/* bg */
	.paginationBg--primary {
		@apply bg-primary;
	}

	.paginationBg--secondary {
		@apply bg-secondary;
	}

	.paginationBg--tertiary {
		@apply bg-tertiary;
	}

	.paginationBg--black {
		@apply bg-black;
	}

	.paginationBg--white {
		@apply bg-white;
	}

	.paginationBg--transparent {
		@apply bg-transparent;
	}

	.paginationBgHover--primary {
		@apply hover:bg-primary;
	}

	.paginationBgHover--secondary {
		@apply hover:bg-secondary;
	}

	.paginationBgHover--tertiary {
		@apply hover:bg-tertiary;
	}

	.paginationBgHover--black {
		@apply hover:bg-black;
	}

	.paginationBgHover--white {
		@apply hover:bg-white;
	}

	.paginationBgHover--transparent {
		@apply hover:bg-transparent;
	}

	.paginationBgActive--primary {
		@apply bg-primary;
	}

	.paginationBgActive--secondary {
		@apply bg-secondary;
	}

	.paginationBgActive--tertiary {
		@apply bg-tertiary;
	}

	.paginationBgActive--black {
		@apply bg-black;
	}

	.paginationBgActive--white {
		@apply bg-white;
	}

	.paginationBgActive--transparent {
		@apply bg-transparent;
	}

	/* border */
	.paginationBoder--primary {
		@apply border-primary;
	}

	.paginationBoder--secondary {
		@apply border-secondary;
	}

	.paginationBoder--tertiary {
		@apply border-tertiary;
	}

	.paginationBoder--black {
		@apply border-black;
	}

	.paginationBoder--white {
		@apply border-white;
	}

	.paginationBoder--transparent {
		@apply border-transparent;
	}

	.paginationBorderHover--primary {
		@apply hover:border-primary;
	}

	.paginationBorderHover--secondary {
		@apply hover:border-secondary;
	}

	.paginationBorderHover--tertiary {
		@apply hover:border-tertiary;
	}

	.paginationBorderHover--black {
		@apply hover:border-black;
	}

	.paginationBorderHover--white {
		@apply hover:border-white;
	}

	.paginationBorderHover--transparent {
		@apply hover:border-transparent;
	}

	.paginationBorderActive--primary {
		@apply border-primary;
	}

	.paginationBorderActive--secondary {
		@apply border-secondary;
	}

	.paginationBorderActive--tertiary {
		@apply border-tertiary;
	}

	.paginationBorderActive--black {
		@apply border-black;
	}

	.paginationBorderActive--white {
		@apply border-white;
	}

	.paginationBorderActive--transparent {
		@apply border-transparent;
	}
</style>
