---
const { source, url, file, options, ratioDesktop, ratioMobile, thumbnail } = Astro.props;
const hasOption = (option) => options.includes(option);

const autoplay = hasOption('autoplay');
const loop = hasOption('loop');
const muted = hasOption('muted');
const controls = hasOption('controls');
const isYoutube = url.includes('youtube.com') || url.includes('youtu.be');
const isVimeo = url.includes('vimeo.com');
const thumb = thumbnail ? thumbnail.url : null;

const youtubeNoCookies = isYoutube
? url
.replace(
	'https://www.youtube.com/watch?v=',
	'https://www.youtube-nocookie.com/embed/'
	)
	.replace('https://youtu.be/', 'https://www.youtube-nocookie.com/embed/')
	: null;
	const vimeoPlayer = isVimeo
	? url.replace('https://vimeo.com/', 'https://player.vimeo.com/video/')
	: null;
---

<div class="blockVideo blocks">
	<div class="video-container">
		{
			source === 'remote' ? (
				isYoutube ? (
					<iframe
						src={`${youtubeNoCookies}?autoplay=${autoplay ? 1 : 0}&loop=${
							loop ? 1 : 0
						}&mute=${muted || autoplay ? 1 : 0}&controls=${
							controls ? 1 : 0
						}&dnt=1`}
						allow="autoplay; encrypted-media"
					/>
				) : isVimeo ? (
					<iframe
						src={`${vimeoPlayer}?autoplay=${autoplay ? 1 : 0}&loop=${
							loop ? 1 : 0
						}&muted=${muted || autoplay ? 1 : 0}&controls=${controls ? 1 : 0}`}
						width="640"
						height="360"
						frameborder="0"
						allow="autoplay; fullscreen"
					/>
				) : (
					<div class="error">
						<p class="text-red-500">
							Der Video-Link ist ungültig. Bitte überprüfe ihn.
						</p>
					</div>
				)
			) : (
				<video
					src={file.url}
					muted={muted || autoplay}
					autoplay={autoplay}
					loop={loop}
					controls={controls}
					poster={thumb}
				/>
			)
		}
	</div>
</div>

<style lang="css" define:vars={{ ratioDesktop, ratioMobile }}>
	iframe {
		@apply aspect-[var(--ratioMobile)] h-auto w-full lg:aspect-[var(--ratioDesktop)];
	}
	video {
		@apply w-full;
	}
</style>
