---
import ImageComponent from '@components/ImageComponent.astro';
const {
	global,
	image,
	ratioMobile,
	ratioDesktop,
	span,
	loading,
	backgroundContainer,
	metadata,
} = Astro.props;
---

<div
	id={metadata?.identifier || undefined}
	class:list={['blocks', 'blockImages', metadata?.classes]}
	{...metadata?.attributes}
>
	{
		image?.url && (
			<ImageComponent
				global={global}
				image={image}
				loading={loading}
				ratioMobile={ratioMobile}
				ratioDesktop={ratioDesktop}
				backgroundContainer={backgroundContainer}
				span={span}
			/>
		)
	}
</div>
