---
const {
	text,
	textFont,
	textSize,
	textAlign,
	backgroundContainer,
	backgroundColor,
	widthMobile,
	startMobile,
	widthDesktop,
	startDesktop,
	spacingMobileTop,
	spacingMobileBottom,
	spacingDesktopTop,
	spacingDesktopBottom,
} = Astro.props;
---

<section class={`BlockText  bg--${backgroundColor}`}>
	<div class={`grid-default ${backgroundContainer}`}>
		<div
			set:html={text}
			class={`font--${textSize} text--${textAlign} ${widthMobile} lg:${widthDesktop} lg:${startDesktop} ${startMobile}`}
		/>
	</div>
</section>

<style
	lang="css"
	define:vars={{
		textFont,
		spacingDesktopBottom,
		spacingDesktopTop,
		spacingMobileBottom,
		spacingMobileTop,
	}}
>
	.BlockText {
		font-family: var(--textFont);

		@apply pb-[var(--spacingMobileBottom)] pt-[var(--spacingMobileTop)] lg:pb-[var(--spacingDesktopBottom)] lg:pt-[var(--spacingDesktopTop)];
	}
</style>
