---
import ImageComponent from '@components/ImageComponent.astro';
const { image, link, toggle, ratioMobile, ratioDesktop } = Astro.props;
---

<div class={`blocks blockImages`}>
	{
		image && image.url ? (
			toggle ? (
				link.type === 'url' ? (
					<a
						href={link.href}
						target={link.popup ? '_blank' : undefined}
						rel={link.popup ? 'noopener' : undefined}
					>
						<ImageComponent
							image={image}
							ratioMobile={ratioMobile}
							ratioDesktop={ratioDesktop}
						/>
					</a>
				) : link.type === 'page' ? (
					<a href={link.hash ? `${link.uri}#${link.hash}` : `${link.uri}`}>
						<ImageComponent
							image={image}
							ratioMobile={ratioMobile}
							ratioDesktop={ratioDesktop}
						/>
					</a>
				) : null
			) : (
				<>
					<ImageComponent
						image={image}
						ratioMobile={ratioMobile}
						ratioDesktop={ratioDesktop}
					/>
				</>
			)
		) : null
	}
</div>
