---
const {
	title,
	font,
	size,
	align,
	color,
	Headline,
	backgroundContainer,
	backgroundColor,
	widthMobile,
	startMobile,
	widthDesktop,
	startDesktop,
	spacingMobileTop,
	spacingMobileBottom,
	spacingDesktopTop,
	spacingDesktopBottom,
} = Astro.props;
---

<section class={`block blockTitle  bg--${backgroundColor}`}>
	<div class={`grid-default ${backgroundContainer}`}>
		<Headline
			class:list={[
				`font--${size}`,
				`text--${color}`,
				`text--${align}`,
				startMobile,
				widthMobile,
				`lg:${widthDesktop}`,
				`lg:${startDesktop}`,
			]}
		>
			{title}
		</Headline>
	</div>
</section>

<style
	lang="css"
	define:vars={{
		font,
		backgroundContainer,
		spacingDesktopBottom,
		spacingDesktopTop,
		spacingMobileBottom,
		spacingMobileTop,
	}}
>
	.block {
		@apply pb-[var(--spacingMobileBottom)] pt-[var(--spacingMobileTop)] lg:pb-[var(--spacingDesktopBottom)] lg:pt-[var(--spacingDesktopTop)];
	}

	.blockTitle {
		font-family: var(--font);
	}
</style>
