---
import ScrollButton from '@components/ScrollButton.astro';
import VectorImage from '@components/VectorImage.astro';
const { image, toggle, link, controls, arrowcolor } = Astro.props;
const hasControl = (control) => controls && controls.includes(control);
const full = hasControl('full') ? 'flex h-screen' : null;
---

<div class={`blockVector block ${full}`}>
	{
		image && image.url ? (
			toggle ? (
				link.type === 'url' ? (
					<a
						href={link.href}
						target={link.popup ? '_blank' : undefined}
						rel={link.popup ? 'noopener' : undefined}
					>
						<VectorImage image={image} />
					</a>
				) : link.type === 'page' ? (
					<a href={link.hash ? `${link.uri}#${link.hash}` : `${link.uri}`}>
						<VectorImage image={image} />
					</a>
				) : null
			) : (
				<>
					<VectorImage image={image} />
				</>
			)
		) : null
	}
	<ScrollButton controls={controls} color={arrowcolor} />
</div>
