---
import ImageComponent from '@components/ImageComponent.astro';
const { image, link, toggle, ratioMobile, ratioDesktop } = Astro.props;
const aspectMobile = ratioMobile.replace('/', ':');
const aspectDesktop = ratioDesktop.replace('/', ':');
---

<div class={`block blockImages`}>
	{
		image && image.url ? (
			toggle === 'true' ? (
				link.type === 'url' ? (
					<a
						href={link.href}
						target={link.popup ? '_blank' : undefined}
						rel={link.popup ? 'noopener' : undefined}
					>
						<ImageComponent
							image={image}
							aspectMobile={aspectMobile}
							aspectDesktop={aspectDesktop}
						/>
					</a>
				) : link.type === 'page' ? (
					<a href={link.hash ? `${link.uri}#${link.hash}` : `${link.uri}`}>
						<ImageComponent
							image={image}
							aspectMobile={aspectMobile}
							aspectDesktop={aspectDesktop}
						/>
					</a>
				) : null
			) : (
				<>
					<ImageComponent
						image={image}
						aspectMobile={aspectMobile}
						aspectDesktop={aspectDesktop}
					/>
				</>
			)
		) : null
	}
</div>
