---
import Blocks from '@components/Blocks.astro';
const { columns, global } = Astro.props;
---

<section class="blockColumns blocks grid-default">
	{
		columns && (
			<>
				{columns.map((column, index) => {
					const span = column.span;
					const blocks = column.blocks;
					const colClass = `column lg:col-span-${span}

				${blocks.length > 0 ? 'col-span-6' : 'hidden lg:block'} `;

					return (
						<section key={index} class={colClass}>
							<Blocks blocks={blocks} global={global} />
						</section>
					);
				})}
			</>
		)
	}
</section>

<style lang="css" is:global>


	.blockGrid > .blockColumns {
		@apply grid grid-cols-6 gap-x-[var(--gridGapMobile)] max-lg:gap-y-[var(--gridGapMobile)] lg:grid-cols-12 lg:gap-x-[var(--gridGapMobile)];
	}
</style>