---
const { text, font, size, align, color, controls, headlines } = Astro.props;
const hasControl = (control) => controls && controls.includes(control);
const full = hasControl('full') ? 'flex h-screen items-center' : null;

const h1Size = headlines.h1.size;
---

<div class={`block blockText ${full}`}>
	<div
		set:html={text}
		class={`kirby-text font--${size} text--${color} text--${align}`}
	/>
</div>

<style
	lang="css"
	define:vars={{
		font,
	}}
>
	.blockText {
		font-family: var(--font);
	}
</style>
