---
import ImageComponent from '@components/ImageComponent.astro';

const {
	images,
	ratioMobile,
	ratioDesktop,
	controls,
	color,
	time,
	text,
	font,
	size,
	align,
	textcolor,
} = Astro.props;

const hasControl = (control) => controls.includes(control);
const arrows = hasControl('arrows');
const dots = hasControl('dots');
const line = hasControl('line');
const full = hasControl('full') ? 'h-screen' : null;
const overlay = hasControl('overlay') ? 'overlay' : null;
const colorValue = `color${color.charAt(0).toUpperCase()}${color.slice(1)}`;
---

<section class="blockSlider block" data-controls={controls} data-time={time}>
	<div class="swiper swiperSlider">
		<div class="swiper-wrapper">
			{
				images?.map((image) => (
					<div class={`swiper-slide ${overlay}`}>
						<ImageComponent
							image={image}
							ratioMobile={ratioMobile}
							ratioDesktop={ratioDesktop}
							class={`${full} w-full object-cover`}
						/>
					</div>
				))
			}
		</div>
		{
			arrows && (
				<nav>
					<div class="swiper-button-next" />
					<div class="swiper-button-prev" />
				</nav>
			)
		}
		{(dots || line) && <div class="swiper-pagination" />}
		<div
			class="slide-content absolute left-2/4 top-2/4 z-[1] w-4/5 max-w-[600px] -translate-x-2/4 -translate-y-2/4"
		>
			<h2
				set:html={text}
				class:list={[
					`title font--${size}`,
					`text--${textcolor}`,
					`text--${align}`,
				]}
			/>
		</div>
	</div>
</section>

<script>
	const block = document.querySelector('.blockSlider') as HTMLElement;
	const controls = block.dataset.controls;
	const line = controls.includes('line');
	const time = block.dataset.time;

	import Swiper, { Navigation, Autoplay, Pagination } from 'swiper';
	import 'swiper/css/bundle';
	Swiper.use([Navigation, Autoplay, Pagination]);

	const swiperSlider = document.querySelectorAll('.swiperSlider');
	swiperSlider.forEach((el) => {
		const swiper = new Swiper(el as HTMLElement, {
			autoplay: {
				delay: parseInt(time),
			},
			loop: true,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			pagination: {
				el: '.swiper-pagination',
				type: line ? 'progressbar' : 'bullets',
			},
		});
	});
</script>

<style
	set:html={`
	:root {
		--swiper-theme-color: var(--${colorValue});
	}
  `}
></style>

<style
	lang="css"
	define:vars={{
		font,
	}}
>
	.title {
		font-family: var(--font);
	}

	.overlay:before {
		@apply absolute left-0 top-0 h-full w-full bg-[rgba(_0,0,0,0.25_)] content-[''];
	}
</style>
