---
import Link from '@components/Link.astro';
const { link, global, align } = Astro.props;
const baseSize = 16;
const font = global.buttonFont;
const size = global.buttonFontSize;
const padding = global.buttonPadding / baseSize + 'rem';
const bg = global.buttonBackgroundColor;
const bgActive = global.buttonBackgroundColorActive;
const color = global.buttonTextColor;
const colorActive = global.buttonTextColorActive;
const borderColor = global.buttonBorderColor;
const borderColorActive = global.buttonBorderColorActive;
const borderWidth = global.buttonBorderWidth / baseSize + 'rem';
const borderRadius =
	link.title && link.title.length === 1
		? '50%'
		: global.buttonBorderRadius / baseSize + 'rem';
---

<div class="blockButton blocks flex flex-col">
	<Link
		link={link}
		class={`button inline-block font--${size} text--${color} textActive--${colorActive} bg--${bg} bgActive--${bgActive} borderActive--${borderColorActive} ${
			align === 'start' || align === 'normal'
				? 'mr-auto'
				: align === 'center'
				? 'mx-auto'
				: align === 'end' && 'ml-auto'
		}  transition-all duration-300`}
	/>
</div>

<style
	lang="css"
	define:vars={{ font, padding, borderRadius, borderWidth, borderColor }}
>
	.button {
		@apply rounded-[var(--borderRadius)] border-[length:var(--borderWidth)] border-[color:var(--borderColor)];
		padding: var(--padding) calc(var(--padding) * 2);
		font-family: var(--font);
	}

	.textActive--primary {
		@apply hover:text-primary;
	}

	.textActive--secondary {
		@apply hover:text-secondary;
	}

	.textActive--tertiary {
		@apply hover:text-tertiary;
	}
	.textActive--black {
		@apply hover:text-black;
	}
	.textActive--white {
		@apply hover:text-white;
	}
	.textActive--transparent {
		@apply hover:text-transparent;
	}

	.bgActive--primary {
		@apply hover:bg-primary;
	}

	.bgActive--secondary {
		@apply hover:bg-secondary;
	}

	.bgActive--tertiary {
		@apply hover:bg-tertiary;
	}

	.bgActive--black {
		@apply hover:bg-black;
	}

	.bgActive--white {
		@apply hover:bg-white;
	}

	.borderActive--primary {
		@apply hover:border-primary;
	}

	.borderActive--secondary {
		@apply hover:border-secondary;
	}

	.borderActive--tertiary {
		@apply hover:border-tertiary;
	}

	.borderActive--black {
		@apply hover:border-black;
	}

	.borderActive--white {
		@apply hover:border-white;
	}

	.borderActive--transparent {
		@apply hover:border-transparent;
	}
</style>
