---
const {
	text,
	textFont,
	textSize,
	textAlign,
	backgroundContainer,
	backgroundColor,
	widthMobile,
	startMobile,
	widthDesktop,
	startDesktop,
	spacingMobileTop,
	spacingMobileBottom,
	spacingDesktopTop,
	spacingDesktopBottom,
} = Astro.props;
---

<section
	class={`BlockText grid-default ${backgroundContainer} bg--${backgroundColor}`}
>
	<div
		set:html={text}
		class={`font--${textSize} text--${textAlign} ${widthMobile} lg:${widthDesktop} lg:${startDesktop} ${startMobile}`}
	/>
</section>

<style
	lang="css"
	define:vars={{
		textFont,
		spacingDesktopBottom,
		spacingDesktopTop,
		spacingMobileBottom,
		spacingMobileTop,
	}}
>
	.BlockText {
		font-family: var(--textFont);

		@apply pt-[var(--spacingMobileTop)] pb-[var(--spacingMobileBottom)] lg:pt-[var(--spacingDesktopTop)] lg:pb-[var(--spacingDesktopBottom)];
	}
</style>
