---
import Link from '@components/Link.astro';
const { items, font, align, color, size, gap } = Astro.props;
---

<div class="blockMenu blocks">
	<nav>
		<ul class="list flex flex-col">
			{
				items &&
					items.map((item) => {
						const link = item.link;
						return (
							<Link
								link={link}
								class={`text font--${size} text--${color} text--${align} `}
							/>
						);
					})
			}
		</ul>
	</nav>
</div>

<style
	set:html={`
	:root {
		--gap: ${gap}px;
	}
  `}
></style>

<style lang="css" define:vars={font}>
	.blockMenu {
		font-family: var(--font);
	}

	.list {
		@apply gap-y-[var(--gap)];
	}
</style>
