---
const { items, font, align, color, size, gap } = Astro.props;
---

<div class="blockMenu block">
	<nav>
		<ul class="list flex flex-col">
			{
				items &&
					items.map((item) => {
						const link = item.link;
						if (link.type === 'url') {
							return (
								<li>
									<a
										href={link.href}
										target={`${link.popup === true ? '_blank' : '_self'}`}
										rel={`${link.popup === true ? 'noopener noreferrer' : ''}`}
										class={`text font--${size} text--${color} text--${align} `}
									>
										{link.title}
									</a>
								</li>
							);
						}

						if (link.type === 'page') {
							return (
								<li>
									<a
										href={
											link.hash ? `${link.uri}#${link.hash}` : `${link.uri}`
										}
										target={link.popup ? '_blank' : undefined}
										rel={link.popup ? 'noopener' : undefined}
										class={`text font--${size} text--${color} text--${align}`}
									>
										{link.title}
									</a>
								</li>
							);
						}
					})
			}
		</ul>
	</nav>
</div>

<style
	set:html={`
	:root {
		--gap: ${gap}px;
	}
  `}
></style>

<style lang="css" define:vars={font}>
	.blockMenu {
		font-family: var(--font);
	}

	.list {
		@apply gap-y-[var(--gap)];
	}
</style>
