---
import '@styles/global.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import MetaKnight from '@components/MetaKnight.astro';
import { getFonts, getSizes } from '@lib/api.js';

const { data, global, pageTitle } = Astro.props;
const fonts = getFonts();
const sizes = getSizes();

const colorPrimary = global.colorPrimary;
const colorSecondary = global.colorSecondary;
const colorTertiary = global.colorTertiary;
const colorBlack = global.colorBlack;
const colorWhite = global.colorWhite;
const colorTransparent = global.colorTransparent;
const colorBackground = global.colorBackground;

const gridGapMobile = global.gridGapMobile + 'px';
const gridMarginMobile = global.gridMarginMobile + 'px';
const gridGapDesktop = global.gridGapDesktop + 'px';
const gridMarginDesktop = global.gridMarginDesktop + 'px';
const gridBlockMobile = global.gridBlockMobile + 'rem';
const gridBlockDesktop = global.gridBlockDesktop + 'rem';
---

<!DOCTYPE html>
<html lang="de" class={`bg--${colorBackground} full motion-safe:scroll-smooth`}>
	<head>
		<MetaKnight data={data} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- <link rel="icon" href="/favicon.ico" /> -->
		<!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml" /> -->
		<!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->
		<!-- <link rel="manifest" href="/site.webmanifest" /> -->
		<meta name="theme-color" content={`${colorPrimary}`} />
		<style set:html={fonts}></style>
		<style set:html={sizes}></style>
	</head>
	<body
		class="mx-auto items-center overflow-x-hidden selection:bg-secondary selection:text-white"
	>
		<Header data={data} global={global} />

		<main class="mb-20 flex min-h-[100vh] w-full flex-col">
			<slot />
		</main>
		<Footer data={data} global={global} />
		<script>
			import '@scripts/menu.js';
		</script>
		<style
			is:global
			lang="css"
			define:vars={{
				global,
				colorPrimary,
				colorSecondary,
				colorTertiary,
				colorBlack,
				colorWhite,
				colorTransparent,
				gridGapMobile,
				gridMarginMobile,
				gridGapDesktop,
				gridMarginDesktop,
				gridBlockMobile,
				gridBlockDesktop,
			}}
		>
			:root {
				--color-primary: var(--colorPrimary);
				--color-secondary: var(--colorSecondary);
				--color-tertiary: var(--colorTertiary);
				--color-black: var(--colorBlack);
				--color-white: var(--colorWhite);
				--color-transparent: var(--colorTransparent);
				--grid-margin-mobile: var(--gridMarginMobile);
				--grid-margin-desktop: var(--gridMarginDesktop);
			}

			.grid-default {
				@apply grid grid-cols-6 gap-x-[var(--gridGapMobile)] max-lg:gap-y-[var(--gridGapMobile)] lg:grid-cols-12 lg:gap-x-[var(--gridGapDesktop)];
			}

			.block + .block {
				@apply mt-[var(--gridBlockMobile)] lg:mt-[var(--gridBlockDesktop)];
			}
		</style>
	</body>
</html>
