---
export async function getStaticPaths({ paginate }) {
	const API_URL = import.meta.env.KIRBY_URL;
	const pagesResponse = await fetch(API_URL + '/index.json');
	const data = await pagesResponse.json();
	const sections = data.filter((item) => item.intendedTemplate === 'section');
	let allItems = [];
	for (const section of sections) {
		const itemsResponse = await fetch(API_URL + `/${section.uri}.json`);
		const itemsData = await itemsResponse.json();
		allItems = allItems.concat(itemsData.items);
	}

	return paginate(allItems, { pageSize: 2 });
}

const { page } = Astro.props;
---

{
	page.data.map((item) => (
		<p>
			<a href={item.uri}>{item.title}</a>
		</p>
	))
}

<h1>Page {page.currentPage} - {page.lastPage}</h1>

{page.prev ? <a href={page.prev}>Previous</a> : null}
{page.next ? <a href={page.next}>Next</a> : null}
